<<<<<<< HEAD
@media screen and (max-width: 1500px) {
    
    .share__info{
        width: 450px;
    }

    .share__img{
        padding: 0;
    }

    .partners__list{
        justify-content: center;
    }

    .feedback__img{
        padding: 30px 90px;
    }

    .feedback__info{
        width: 450px;
    }

    .progress__cards_card{
        width: 45vw;

        overflow: hidden;
    }

    .progress__cards_card > img{
        width: 100%;
    }

}

@media screen and (max-width: 1350px) {

    .share__img > img{
        width: 46vw;
    }
    
    .share__info{
        width: 400px;
    }

    .hero__imgs{
        margin-top: -200px;
    }

    .share__info_title, .feedback__info_title{
        font-size: 36px;
    }

    .share__info_text, .feedback__info_text{
        font-size: 16px;
    }

    .share{
        padding: 0 40px;
    }

    .feedback{
        padding: 0 30px;
    }

    .feedback__img{
        padding: 20px 40px;
    }

    .container__cards_card--first > img{
        width: 95%;
    }

}

@media screen and (max-width: 1200px) {

    .container {
        padding: 16px 40px;
    }

    .nav__items_list {
        gap: 20px;
    }

    .nav__items {
        gap: 30px;
    }

    .startForFree {
        font-size: 14px;
        padding: 5px 15px;
    }

    .hero__title{
        font-size: 58px;
    }

    .partners__list{
        flex-wrap: wrap;
    }

   .feedback__img > img{
        width: 300px;
    }

}

@media screen and (max-width: 950px) {

    .container {
        padding: 15px;
    }

    .nav__items_list {
        gap: 6px;
    }

    .hero__text{
        font-size: 16px;
    }

    .hero__imgs{
        margin-top: -20vh;
    }

    .share{
        padding: 0 30px;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .share__info{
        width: 60%;
    }

    .share__img > img{
        width: 80%;
    }

    .share__img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .feedback{
        flex-direction: column;
        gap: 40px;
    }

    .feedback__img{
        width: fit-content;
    }

    .feedback__img > img {
        width: 60vw;
    }

    .feedback__info{
        width: 60%;
    }

    .progress__cards{
        flex-direction: column;
    }

    .progress__cards_card{
        width: 80vw;
    }

}

@media screen and (max-width: 800px) {

    .nav__burger {
        display: block;
        position: fixed;
        top: 15px;
        z-index: 20;
    }

    .nav__bg_adaptive{
        display: block;
        position: fixed;
        left: 0;
        width: 100vw;
        height: 70px;
        background-color: rgba(255, 255, 255, 0.425);
        z-index: 10;

        backdrop-filter: blur(10px)
    }

    .nav__items_img{
        position: fixed;
        top: 15px;
    }

    .nav__btns,
    .nav__items_list {
        display: none;
    }

    .nav__items_list {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

        background-color: #ffffff;
        z-index: 9;
    }

    .nav__btns {
        position: fixed;
        top: 20vh;
        left: -7px;
        align-items: center;
        width: 100%;
        justify-content: center;

        flex-direction: column-reverse;
    }

    .nav__items_img,
    .nav__btns {
        z-index: 20;
    }

    .dis--on {
        display: flex;
    }

    .hero__title{
        font-size: 34px;
        font-weight: 600;
    }

    .hero__text{
        font-size: 16px;
    }

    .hero{
        gap: 16px;
        padding: 0 16px;
    }

    .hero__imgs{
        margin-top: -10vh;
    }

    .hero__other--adapted, .hero__other{
        font-size: 12px;
    }

    .paddings{
        padding: 0 30px;
    }

    .partners__list{
        display: none;
    }

    .partners__list--adaptive{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 31px;
    }

    .partners__list_cont{
        display: flex;
        align-items: center;
        gap: 48px;
    }

    .partners__list_cont > li > img{
        width: 20vw;
    }

    .partners__list_cont--sec > li > img{
        width: 30vw;
    }

    .container__title{
        font-size: 38px;
    }

    .cards__card_title{
        font-size: 18px;
    }

    .cards__card_text{
        font-size: 16px;
        width: 100%;
    }

    .container__cards_card{
        width: 100%;
        padding: 27px 23px;
    }

    .container__cards_card--first{
        padding: 0 0 30px 0;
    }

}

@media screen and (max-width: 650px) {
    
    .share__info, .feedback__info{
        width: 100%;
    }

    .share{
        flex-direction: column-reverse;
    }

    .feedback__img > img{
        width: 100%;
    }

    .progress__title{
        font-size: 38px;
    }

}

@media screen and (max-width: 550px) {
    
    .hero__title, .hero__text{
        text-align: start;
    }

    .hero__other{
        display: none;
    }

    .hero__imgs{
        margin-top: 0;
    }

    .hero__other--adapted{
        display: block;
    }

    .share__info_title, .feedback__info_title{
        font-size: 24px;
    }

    .better{
        width: 100vw;
    }

    .container__title{
        font-size: 28px;
    }

    .progress__title{
        font-size: 28px;
        width: 250px;
    }

    .progress__cards_card > img{
        width: 250px;
    }

    .progress__card_text{
        text-align: center;
        margin-top: 7px;
    }

=======
@media screen and (max-width: 1500px) {
    
    .share__info{
        width: 450px;
    }

    .share__img{
        padding: 0;
    }

    .partners__list{
        justify-content: center;
    }

    .feedback__img{
        padding: 30px 90px;
    }

    .feedback__info{
        width: 450px;
    }

    .progress__cards_card{
        width: 45vw;

        overflow: hidden;
    }

    .progress__cards_card > img{
        width: 100%;
    }

}

@media screen and (max-width: 1350px) {

    .share__img > img{
        width: 46vw;
    }
    
    .share__info{
        width: 400px;
    }

    .hero__imgs{
        margin-top: -200px;
    }

    .share__info_title, .feedback__info_title{
        font-size: 36px;
    }

    .share__info_text, .feedback__info_text{
        font-size: 16px;
    }

    .share{
        padding: 0 40px;
    }

    .feedback{
        padding: 0 30px;
    }

    .feedback__img{
        padding: 20px 40px;
    }

    .container__cards_card--first > img{
        width: 95%;
    }

}

@media screen and (max-width: 1200px) {

    .container {
        padding: 16px 40px;
    }

    .nav__items_list {
        gap: 20px;
    }

    .nav__items {
        gap: 30px;
    }

    .startForFree {
        font-size: 14px;
        padding: 5px 15px;
    }

    .hero__title{
        font-size: 58px;
    }

    .partners__list{
        flex-wrap: wrap;
    }

   .feedback__img > img{
        width: 300px;
    }

}

@media screen and (max-width: 950px) {

    .container {
        padding: 15px;
    }

    .nav__items_list {
        gap: 6px;
    }

    .hero__text{
        font-size: 16px;
    }

    .hero__imgs{
        margin-top: -20vh;
    }

    .share{
        padding: 0 30px;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .share__info{
        width: 60%;
    }

    .share__img > img{
        width: 80%;
    }

    .share__img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .feedback{
        flex-direction: column;
        gap: 40px;
    }

    .feedback__img{
        width: fit-content;
    }

    .feedback__img > img {
        width: 60vw;
    }

    .feedback__info{
        width: 60%;
    }

    .progress__cards{
        flex-direction: column;
    }

    .progress__cards_card{
        width: 80vw;
    }

}

@media screen and (max-width: 800px) {

    .nav__burger {
        display: block;
        position: fixed;
        top: 15px;
        z-index: 20;
    }

    .nav__bg_adaptive{
        display: block;
        position: fixed;
        left: 0;
        width: 100vw;
        height: 70px;
        background-color: rgba(255, 255, 255, 0.425);
        z-index: 10;

        backdrop-filter: blur(10px)
    }

    .nav__items_img{
        position: fixed;
        top: 15px;
    }

    .nav__btns,
    .nav__items_list {
        display: none;
    }

    .nav__items_list {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

        background-color: #ffffff;
        z-index: 9;
    }

    .nav__btns {
        position: fixed;
        top: 20vh;
        left: -7px;
        align-items: center;
        width: 100%;
        justify-content: center;

        flex-direction: column-reverse;
    }

    .nav__items_img,
    .nav__btns {
        z-index: 20;
    }

    .dis--on {
        display: flex;
    }

    .hero__title{
        font-size: 34px;
        font-weight: 600;
    }

    .hero__text{
        font-size: 16px;
    }

    .hero{
        gap: 16px;
        padding: 0 16px;
    }

    .hero__imgs{
        margin-top: -10vh;
    }

    .hero__other--adapted, .hero__other{
        font-size: 12px;
    }

    .paddings{
        padding: 0 30px;
    }

    .partners__list{
        display: none;
    }

    .partners__list--adaptive{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 31px;
    }

    .partners__list_cont{
        display: flex;
        align-items: center;
        gap: 48px;
    }

    .partners__list_cont > li > img{
        width: 20vw;
    }

    .partners__list_cont--sec > li > img{
        width: 30vw;
    }

    .container__title{
        font-size: 38px;
    }

    .cards__card_title{
        font-size: 18px;
    }

    .cards__card_text{
        font-size: 16px;
        width: 100%;
    }

    .container__cards_card{
        width: 100%;
        padding: 27px 23px;
    }

    .container__cards_card--first{
        padding: 0 0 30px 0;
    }

}

@media screen and (max-width: 650px) {
    
    .share__info, .feedback__info{
        width: 100%;
    }

    .share{
        flex-direction: column-reverse;
    }

    .feedback__img > img{
        width: 100%;
    }

    .progress__title{
        font-size: 38px;
    }

}

@media screen and (max-width: 550px) {
    
    .hero__title, .hero__text{
        text-align: start;
    }

    .hero__other{
        display: none;
    }

    .hero__imgs{
        margin-top: 0;
    }

    .hero__other--adapted{
        display: block;
    }

    .share__info_title, .feedback__info_title{
        font-size: 24px;
    }

    .better{
        width: 100vw;
    }

    .container__title{
        font-size: 28px;
    }

    .progress__title{
        font-size: 28px;
        width: 250px;
    }

    .progress__cards_card > img{
        width: 250px;
    }

    .progress__card_text{
        text-align: center;
        margin-top: 7px;
    }

>>>>>>> 9758e0128ae9d430743802e3fcde74ad49ad5a69
}